@font-face {
  font-family: poppins;
  src: url(../../src/fonts/Poppins-Regular.ttf); }

@font-face {
  font-family: poppinsBold;
  src: url(../../src/fonts/Poppins-Bold.ttf); }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: inherit; }

ul, ol {
  list-style: none; }

html {
  font-size: 62.5%; }

body {
  width: 100%;
  height: 100dvh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  font-family: poppins, sans-serif, tahoma; }

.btn {
  height: 3rem;
  padding: 0 1rem;
  background-color: #44A0A0;
  border-radius: 2rem;
  color: #fff;
  font-family: poppinsBold; }
  .btn--shadow {
    box-shadow: 0 0.3rem 0 #44A0A0; }

.category {
  display: inline-block;
  color: reverse(red); }
  .category--green {
    background-color: #4CAF50; }
  .category--yellow {
    background-color: #ffb700; }
  .category--purple {
    background-color: #591ff8; }
  .category--red {
    background-color: #f00; }
  .category--v {
    height: 100%;
    padding: 0 0.5rem;
    writing-mode: vertical-rl;
    text-align: center; }
  .category--x {
    width: 10rem;
    padding: 0 0.5rem;
    font-size: 1.4rem;
    font-family: poppinsBold;
    border-radius: 0.5rem;
    text-align: center; }

.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-family: poppinsBold;
  z-index: 1; }
  .title span {
    background-color: #354259;
    padding: 0 1rem; }
  .title::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 0.2rem;
    background-color: #ffffff;
    z-index: -1; }

.container {
  width: 100%;
  height: 100dvh;
  padding: 2rem 1rem;
  background-color: #1C273C;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem; }

.head {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: row;
  justify-items: center; }
  .head__row {
    text-align: center; }
    .head__row:nth-child(1) {
      justify-self: end;
      font-size: 2rem;
      color: #ffffff; }
    .head__row:nth-child(2) {
      color: #E9C597;
      font-size: 1.4rem; }

.app {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto calc(7rem * 4 + 2rem);
  row-gap: 2rem; }
  .app__head {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem; }
    .app__head button {
      width: 50%; }
  .app__body {
    background-color: #354259;
    border-radius: 1rem;
    box-shadow: 0 0.3rem 0 #44A0A0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; }
    .app__body__tabs {
      position: relative;
      width: 100%;
      padding: 1rem;
      border-top: 0.2rem solid #2b3649;
      display: flex;
      gap: 2rem;
      overflow-x: scroll; }
      .app__body__tabs::-webkit-scrollbar {
        height: 0.3rem; }
      .app__body__tabs::-webkit-scrollbar-track {
        background-color: #485a79; }
      .app__body__tabs::-webkit-scrollbar-thumb {
        background-color: #222a39; }
      .app__body__tabs::-webkit-scrollbar-thumb:hover {
        background: #555; }
      .app__body__tabs__tab {
        font-size: 1.3rem;
        color: #44A0A0;
        font-family: poppinsBold; }
        .app__body__tabs__tab--active {
          color: #ffffff; }
  .app__aside {
    display: none; }

.list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 7rem;
  grid-auto-flow: row; }
  .list__item {
    height: 7rem;
    display: flex;
    gap: 1rem;
    color: #ffffff;
    border-bottom: 0.2rem solid #ffffff;
    overflow-y: hidden; }
    .list__item__p {
      padding: 1rem;
      width: 100%;
      font-size: 1.3rem;
      overflow-y: scroll !important; }
      .list__item__p::-webkit-scrollbar {
        width: 0.8rem; }
      .list__item__p::-webkit-scrollbar-track {
        background-color: #485a79; }
      .list__item__p::-webkit-scrollbar-thumb {
        background-color: #44A0A0; }
      .list__item__p::-webkit-scrollbar-thumb:hover {
        background: #555; }
    .list__item__opts {
      position: relative;
      margin-left: auto;
      font-size: 1.8rem;
      cursor: pointer; }
      .list__item__opts__list {
        position: absolute;
        right: -1rem;
        width: 15rem;
        padding: 0.5rem;
        opacity: 0;
        transition: 0.3s;
        font-size: 1.1rem;
        background-color: #222a39;
        border-radius: 1rem; }
        .list__item__opts__list--active {
          opacity: 1; }
        .list__item__opts__list__item {
          padding: 0.5rem 0; }
          .list__item__opts__list__item:not(:last-child) {
            border-bottom: 0.2rem solid #ffffff; }

@media (min-width: 678px) {
  .app {
    grid-template-columns: 15rem 35rem;
    column-gap: 2rem; }
    .app__head {
      padding: 1rem;
      border-radius: 1rem;
      background-color: #354259;
      box-shadow: 0 0.3rem 0 #44A0A0; }
      .app__head .btn {
        box-shadow: none;
        border-radius: 1rem;
        background-color: #44A0A0; }
    .app__aside {
      grid-column: 1/2;
      grid-row: 1/-1;
      display: grid;
      grid-template-columns: 1fr;
      align-content: space-between;
      padding: 1rem 0;
      background-color: #354259;
      border-radius: 1rem;
      box-shadow: 0 0.3rem 0 #44A0A0; }
      .app__aside__title {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.6rem;
        font-family: poppinsBold;
        color: #ffffff;
        z-index: 1; }
        .app__aside__title__txt {
          padding: 0 0.5rem;
          display: block;
          background-color: #354259; }
        .app__aside__title::after {
          content: "";
          display: block;
          position: absolute;
          z-index: -1;
          width: 100%;
          height: 0.2rem;
          background-color: #ffffff; }
      .app__aside__list {
        padding: 0 1rem;
        color: #ffffff;
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-flow: row;
        gap: 1rem; }
        .app__aside__list__item {
          width: 100%;
          height: 3rem;
          display: flex;
          align-items: center;
          justify-content: center; }
      .app__aside .btn {
        width: calc(100% - 2rem);
        border-radius: 1rem !important;
        margin: 0 auto; } }

@media (min-width: 768px) {
  .app {
    grid-template-rows: auto calc(7rem * 5 + 2rem);
    grid-template-columns: 25rem 45rem; } }

.modal {
  width: 75%;
  max-width: 58rem;
  padding: 1rem;
  position: absolute;
  top: -100%;
  transform: translateY(-50%);
  display: grid;
  grid-template-columns: 100%;
  gap: 1.5rem;
  justify-items: center;
  background-color: #354259;
  border-radius: 1rem;
  border: 0.2rem solid #ffffff;
  color: #ffffff;
  z-index: 1;
  transition: 0.2s; }
  .modal--active {
    top: 50%; }
  .modal--active + .container {
    filter: brightness(10%);
    background-color: #161111; }
  .modal__close {
    justify-self: end;
    font-size: 1.4rem;
    cursor: pointer; }
  .modal__head {
    width: 80%; }
    .modal__head__input {
      width: 100%;
      border-radius: 1rem;
      padding: 0.8rem 2rem; }
  .modal__choose-category {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: row;
    gap: 1rem; }
    .modal__choose-category__opt {
      display: none; }
  .modal__add-category {
    width: 80%; }
    .modal__add-category__input {
      width: 100%;
      border-radius: 1rem;
      padding: 0.8rem 2rem;
      margin-bottom: 1rem; }
    .modal__add-category__color {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .modal__add-category__color label {
        font-family: poppinsBold;
        font-size: 1.4rem; }

@media (min-width: 678px) {
  .modal__choose-category {
    grid-template-columns: repeat(3, 1fr); } }

@media (min-width: 768px) {
  .modal__choose-category {
    grid-template-columns: repeat(4, 1fr); } }
