$orange: #ff9051;
$purple: #9f7fff;
$white: #ffffff;
$darkPurple: #7646fe;
$darkerPurple: #591ff8;
$blue: #007aff;
$red: #f00;
$green: #4CAF50;
$gray: #303030;
$shadow: #000000ad;

$darkBlue: #1C273C;
$darkGray: #354259;
$aqua: #44A0A0;
$antic: #E9C597;
$yellow: #ffb700;